*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Ubuntu, Ariel,Times, serif;
    height: 100vh;
    background-color: hsl(0, 40%, 40%);
    padding-top: 72px;
    color: #222;
}

/* HEADER SECTION */

.nav__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: hsl(0 67% 56%);
}

/* LEFT SIDE OF HEADER */
.left-section{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 45%;
}
.home-icon{
    height: 30px;
}

.home-searchcontainer{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
    background-color: #f3f3f3;
    border: 2px solid #f3f3f3;
    transition: 100ms;
}
.home-searchbar{
    width: 100%;
    font-size: 14px;
    font-family: Ubuntu, Ariel, Times, serif;
    color: black;
    border: none;
    outline: none;
    padding: 15px 100px 15px 15px;
    margin-left: 2px;
    transition: 100ms;
}
.home-searchcontainer,
.home-searchbar{
    border-radius: 50px;
}
.home-searchcontainer:focus-within,
.home-searchbar:focus{
    background-color: white;
}
.home-searchcontainer:focus-within{
    background-color: white;
    border-color: lightpink;
    border-width: 2px;
    outline: none;
}
.search-icon{
    display: block;
    height: 3rem;
    padding: 10px;
}





/* RIGHT SIDE OF HEADER */
.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 53%;
    gap: 20px;
}
.dropdown-menus{
    display: flex;
    gap: 40px;
}
.dropdown{
    font-family: Ubuntu, Ariel, Times, serif;
    color: #222222;
    text-decoration: none;
    padding: 14px 0;
}
.signlog-in-div{
    display: flex;
    gap: 20px;
    margin:0 auto;
}
.signlog-in{
    font-family: Ubuntu, Ariel, Times, serif;
    padding: 14px 22px;
    background-color: #123;
    border: 2px solid rgba(0,0,0,0.05);
    border-radius: 50px;
    transition: 100ms;
    color: hsl(0 95% 62%);
    text-shadow: 0 0 10px #ff2020;
    font-weight: bold;
}
.signlog-in:hover{
    font-family: Ubuntu, Ariel, Times, serif;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 14px 22px;
    border: 4px solid lightpink;
    border-radius: 50px;
    transition: 100ms;
}


/* HAMBURGER - hidden on desktop */

.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* MOBILE BREAKPOINT */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        margin: 12px;
    }

    .right-section {
        display: none;
    }

    .left-section{
        width: 100%;
    }
}





/* RIGHT SIDE OF HEADER */
.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 53%;
    gap: 20px;
}
.dropdown-menus{
    display: flex;
    gap: 35px;
}
.dropdown{
    font-family: Ubuntu, Ariel, Times, serif;
}
.signlog-in-div{
    display: flex;
    gap: 20px;
    margin:0 auto;
}
.signlog-in{
    font-family: Ubuntu, Ariel, Times, serif;
    padding: 14px 22px;
    background-color: #123;
    border: 2px solid rgba(0,0,0,0.05);
    border-radius: 50px;
    transition: 100ms;
    color: hsl(0 95% 62%);
    text-shadow: 0 0 10px #ff2020;
    font-weight: bold;
}
.signlog-in:hover{
    font-family: Ubuntu, Ariel, Times, serif;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 14px 22px;
    border: 4px solid lightpink;
    border-radius: 50px;
    transition: 100ms;
}

/* CONTACT US - SECTION */
.contactus__container{
    background-color: #f3f3f3;
    width: fit-content;
    padding: 3rem;
    border-radius: 50px;
    margin: 100px auto;
}
.contactus__flex{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.contactus__icon{
    height: 15rem;
    filter: drop-shadow(0 0 5px #050505);
}

.contactus__info{
    font-family: Ubuntu, Ariel, Times, serif;
    font-size: 40px;
}

/* ADDITIONAL */
.dropdown--contactus{
    color: #f3f3f3;
}